<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/splash.css" />
    <title>Formula Chess</title>
    </script>
</head>

<body>

<div class="container">
    <div></div>
    <div>
        <img src="images/logo_transparent.png" class="item-a">
    </div>
    <div></div>
    <div></div>
    <form action="/play" method="get">
        <button class="button"><span>PLAY</span></button>
    </form>
    <div></div>
    <div class="gameStats">
        Games played: <%= gamesPlayed %> <br>
        Players in a match: <%= players %> <br>
        Games won by white: <%= gamesWonByWhite %> <br>
        Games won by black: <%= gamesWonByBlack%>
    </div>
    <div></div>
    <div class="description">Chess is a recreational and competitive board game played between two players.
        Chess was invented in the 8th century and is an abstract strategy game and involves no hidden information</div>
</div>

</body>
<!--<script src="javascripts/splash.js"></script>-->
</html>