<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/splash.css" />
    <title>Formula Chess</title>
    </script>
</head>

<body>
<table>
    <tr>
        <td colspan="3">
            <img src="images/logo_transparent.png" id="logoImg">
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            <div id="gameStats">
                <div class="stat"> Games played: <%= gamesPlayed %> </div>
                <div class="stat">Players in a match: <%= players %></div>
            </div>
        </td>
        <td>
            <div id="btnContainer">
                <form action="/play" method="get">
                    <button id="playBtn">PLAY</button>
                </form>
            </div>
        </td>
    </tr>
    <td>
        <div id="gameDescription">Description</div>
    </td>
    <tr>

    </tr>
</table>
</body>
<!-- <script src="./public/javascripts/splash.js"></script> -->
</html>