.gameBoard {
  background: black;
  width: 5vw;
  height: 5vw;
}

body {
  position: fixed;
  background: #13275C;
  margin: 0;
  height: 100%;
  width: 100%;
}

#gameScreen {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 60% 20%;
  margin: 3%;
}

.leftContainer {
  height: 100%;
  display: block;
  resize: both;
}

#logoImg {
  width: 100%;
  margin: auto;
}

.opponentCaptures {
  background: grey;
  width: 70%;
  display: block;
  height: 35%;
  margin-left: 10%;
  border-style: solid;
}

.userCaptures {
  background: white;
  width: 70%;
  display: block;
  height: 35%;
  margin-left: 10%;
  margin-top: 10%;
  border-style: solid;
}

.centerContainer {
  padding: 25px;
}

.rightContainer {
  width: 100%;
}

.concedeContainer {
  float: top;
  display: block;
  width: 100%;
  height: 15%;
}

#board {
  border-style: solid;
  height: 75vmin;
  width: 75vmin;
  max-width: 100%;
  max-height: 50vw;
  margin: auto;
  background-color: #646D87;
}

#row {
  width: 100%;
  height: 12.5%;
}

.white, .black, div[class*="Red"] {
  display: block;
  float: left;
  width: 12.5%;
  height: 100%;
}

.black {
  background-color: #60778a;
}

.white {
  background-color: #ffad94;
}

div[class*="Red"] {
  background-color: red;
}

img[class^="whiteChessPiece"], img[class^="blackChessPiece"], img[class*="Check"] {
  /*padding-top: 5%;*/
  height: 100%;
  width: 100%;
  cursor: pointer;
}

img[class*="Check"] {
  /*padding-top: 5%;*/
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color:rgba(255, 70, 70, 0.5);
}

/*
img[class^="whiteChessPiece"], img[class^="blackChessPiece"]:active {
  padding-top: 5%;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: rgba(140, 255, 71, 0.5);
}
*/
#active-button {
  /*padding-top: 5%;*/
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color:rgba(255, 70, 70, 0.5);
}

img[class*='Circle'] {
  margin: auto;
  height: 30%;
  width: 30%;
  padding: 35%;
  opacity: 50%;
  cursor: pointer;
}

#moveLog {
  position: relative;
  margin: 15% auto;
  height: 50%;
  width: 75%;
  border: 2px solid black;
  text-align: center;
  overflow-y: scroll;
  background-color: darkgrey;
}

.oneMove {
  float: top;
  position: relative;
  height: 7%;
  font-size: 2vmin;
}

#moveLogText {
  font-family: fantasy;
  border-bottom: 0.5vmin solid black;
  overflow: hidden;
  margin: auto;
  font-size: 3vmin;
}



.message {
  color: black;
  font-family: fantasy;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  padding-top: 20vmin;
}

.anim {
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: flex;
  margin: 10vh 10vw;
}

.anim img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 5px;

}
/*
.loader span:nth-child(2) {
  background: #f07e6e;
}

.loader span:nth-child(3) {
  background: #84cdfa;
}

.loader span:nth-child(4) {
  background: #5ad1cd;
}
*/

.anim img:not(:last-child) {
  animation: animate 2.9s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(60px);
  }
}

.anim img:last-child {
  animation: jump 2.9s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(10px, -10px);
  }
  20% {
    transform: translate(20px, 10px);
  }
  30% {
    transform: translate(30px, -50px);
  }
  70% {
    transform: translate(-270px, -50px);
  }
  80% {
    transform: translate(-260px, 10px);
  }
  90% {
    transform: translate(-250px, -10px);
  }
  100% {
    transform: translate(-240px, 0);
  }
}

#opaque {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: black;
  opacity: 0.3;
}

#winPopUp {
  position: fixed;
  top: 40%;
  height: 20%;
  left: 30%;
  width: 40%;
  background-color: gold;
  border: 2px solid black;
  z-index: 1000;
  font-family: fantasy;
  text-align: center;
}

#loosePopUp {
  position: fixed;
  top: 40%;
  height: 20%;
  left: 30%;
  width: 40%;
  background-color: darkred;
  border: 2px solid black;
  z-index: 1000;
  text-align: center;
  font-family: fantasy;
}

#popUpStatus {
  position: relative;
  height: 50%;
  top: 25%;
  font-size: xxx-large;
}

.deadPiece {
  width: 25%;
  height: 25%;
}



#concedeButton {
  display: block;
  border-radius: 4px;
  background-color: #51CDED;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
}

#concedeButton span {
  color: black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#concedeButton span::before {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

#concedeButton:hover span {
  padding-left: 25px;
}

#concedeButton:hover span::before {
  opacity: 1;
  left: 0;
}

span {
  background-color: #51CDED;
  font-family: fantasy;
}