* {
    background-color: #13275C;
    padding: 0;
    margin: 0;
}

.container {
    position: absolute;
    margin: 0 5%;
    display: grid;
    grid-template-rows: repeat(3, 33.3%);
    grid-template-columns: repeat(3, 33.3%);
}

.container img {
    display: flex;
    max-width: 100%;
    margin: auto;
    padding-bottom: 5vh;
}


.container form {
    position: relative;
    top: 50px;
    height: 40%;
    margin: auto;
}

.description {
    padding-top: 50px;
    margin-right: 5%;
    margin-left: 30%;
    text-align: right;
    color: #c4e2f1;
    font-family: fantasy;

}


.gameStats {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-family: fantasy;
    border: 3px solid #51CDED;
    border-radius: 10px;
    background-color: #646D87;
    line-height: 1.6;
}



.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #51CDED;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    color: black;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

span {
    background-color: #51CDED;
    font-family: fantasy;
}